body {
    height: auto;
    background-color: rgb(16,165,219)!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron {
    background-image: url("https://i.imgur.com/xumHAbS.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    color: rgb(255, 251, 251);
}

p {
    text-align: center;
    font-weight:bold;
}

.img-thumbnail {
    width: 100% !important;
}

#messageDiv {
    text-align: left;
    height: 25px;
    color: red;
    font-weight:bold;
}

.topic-btn {
    margin-left: 10px;
    text-shadow: 1px 1px 2px #000000;
}

.topic-btn:hover {
    text-shadow: 2px 2px 4px #000000;
}

#gif-container {
    margin-top: 15px;
}

#buttons-container {
    height: 40px;
}

#contentWrap {
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

