body {
    height: auto;
    background-color: rgb(13, 96, 163)!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron {
    background-image: url("https://i.imgur.com/xumHAbS.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    text-align: center;
}

.img-thumbnail {
    width: 100% !important;
    height: 150px !important;
}

#messageDiv {
    text-align: left;
    height: 25px;
    color: red;
}

.topic-btn {
    margin-left: 10px;
    text-shadow: 2px 2px 4px #000000;
}

.topic-btn:hover {
    text-shadow: 2px 2px 4px #000000;
}

#gif-container {
    margin-top: 15px;
}

#buttons-container {
    height: 40px;
}

#contentWrap {
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

